

h1{
    color: black;
    text-decoration: underline;
    display: flexbox;
    text-align: center;

}

body{
    font-family: Arial, Helvetica, sans-serif;

}

h3{
    text-decoration: underline solid gold;
    font-size: 20px;

}

h4{
    text-decoration: underline solid gold;
}